body {
    margin: 0px;
    font-family: GothamRoundedBold;
    font-style: normal;
}
.master {
    background-image: url("/static/backgound-default.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contain {
    height: 100%;
    height: stretch;
}
// Running Text
.running-text {
    position: fixed;
    bottom: 0;
    font-size: 33px;
    color: #000;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

marquee {
	margin-top: -2px;
	width: 86%;
    float: right;
}

.runtext-container {
    background-color:#ddddff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 60px 0 0px;
    padding:0 3px 0 3px;
}

.main-runtext {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    height: 40px;
}

.runtext-container .holder {
    position: relative;
    overflow: visible;
    display:inline;
}

.runtext-container .holder .text-container {
    display:inline;
    img {
        width: 20px;
        padding-top:16px;
        margin-right: 20px;
        position: absolute;
    }
}

.runtext-container .holder a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 19px;
    padding-left: 16px;
}

.runtext-container .holder a:hover{
	text-decoration: none;
	color:#6600ff;
}

// Running text end

// Menu (soon delete)

.menu-testing {
    color: #fff;
    z-index: 1;
    bottom: 120px;
    position: absolute;
    left: 20px;
    ul {
        a {
            text-decoration: none;
            color:#9b9a9c;
            &:hover {
                color: #fff;
            }
        }
        li.router-link-exact-active.router-link-active {
            background-color: #292929;
        }
    }
}
.announcment {
    z-index: 1;
    top:1px;
    color: #007aff;
    width: 100%;
    .title-page{
        font-size: 45px;
        float: right;
        padding: 25px 77px;
        color: #dea93a;
        font-weight: bold;
        font-family: GothamRoundedMedium;
    }
}
.time {
    position: absolute;
    padding: 10px 10px;
    font-size: 23px;
    font-weight: 800;
}
ul.messages {
    list-style-type: none;
    color: #fff;
    padding-top: 170px;
    padding-left: 80px;
}
.item-id {
    font-size: 55px;
    
}
.item-content {
    font-size: 60px;
    padding-left: 90px;
}

.marquee-metting {
    width: 94%;
    float: left;
    padding-left: 49px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 49px;
    height: 150px;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #000;
}
.sub-meeting {
    font-size: 30px;
}
.flex {
    display: flex;
}
.index-table {
    width: 100px;
    height: 100px;
}
.master-table {
    width: 60%;
    padding-right: 30px;
}
.right-table {
    width: 35%;
    text-align: right;
}
.title-table {
    font-size: 35px;
    padding-right: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.seamless-warp {
    height: 900px;
    overflow: hidden;
    width: 100%
}
ul.item {
    height: stretch;
}
ul {
    list-style-type: none;
}
.logo-logo {
    width: 100px;
    height: 100px;
}
.title-event {
    height: 100px;
}
.rows-text {
    height: 120px;
    color: #fff
}
.co-title {
    padding-top: 15px;
    font-size: 25px;
    font-family: sans-serif;
}
.room-name {
    font-size: 30px;
    color: #fff
}
.main-image {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.overflow-hidden {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  color:white
}
.main-image {
  display: block;
  top: 0;
  left: 0;
}
.noted {
    position: absolute;
    bottom: 100px;
    left: 0px;
    width: auto;
    height: 90px;
    background: #00000069;
    h1 {
        padding: 2px 27px 0px 30px;
        font-size: 30px;
        margin: 10px 4px 1px 5px;
        color: #ce8e48;
        font-weight: 400;
        font-style: normal;
        font-family: GothamRoundedMedium;
    }
    h3{
        padding: 2px 32px 0px 30px;
        font-size: 25px;
        margin: 1px 4px 1px 5px;
        font-weight: 100;
        font-family: GothamRoundedBook;
    }
}
.video {
    position: absolute;
    left: 100px;
}
.announcment-higest {
    background-image: url("http://192.168.11.1/inna-admin/public/photos/image/announce_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: stretch;
}
video {
    width: 100%;
    position: absolute;
    left: 0;
}
.room-event {
    background-image: url('http://192.168.11.1/inna-admin/public/photos/image/background_rm_12.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: stretch;
    .logo-room {
        padding-left: 100px;
        border-top: 15px solid #92278f;
        img {
            width: 190px;
        }
    }
}
.inna {
    background: url('http://192.168.11.1/inna-admin/public/photos/image/main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: stretch;
}
.ann {
    display: table;
    width: 100%;
    height: stretch;
    .annou {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        .ads-logo {
            padding-left: 40px;
            position: absolute;
            top:1px;
            .logo-in-ads {
                width: 150px;
                position: absolute;
                top:20px;
            }
        }
        .announcment-inside {
            h1 {
                font-size: 70px;
                color: #000;
                margin:10px 10px 10px 10px
            }
            span {
                font-size: 50px;
            }
        }
        
    }
}

.logo-main {
    position: absolute;
    width: 100%;
    top: 31%;
    text-align: center;
    img {
        width: 20%;
    }
}
.m-room {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.m-room-name {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding-top: 30px;
    color: white;
    font-family: GothamRoundedBook;
}

.m-image-logo {
    display: block;
    margin-left: 42%;
    margin-right: auto;
    width: 15%;
}

.cover-comp {
    margin-top: 9%;
    background: #0d0c0c7a;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 580px;
    .vertical-align {
        display: table;
        width: 100%;
        height: 485px;
        .align-middle {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}

.ads-logos {
    padding-left: 40px;
    .logo-in-ads {
        width: 150px;
        position: absolute;
    }
}
.ads-logo {
    padding-left: 40px;
    .logo-in-ads {
        width: 150px;
        position: absolute;
        top:20px;
    }
}
.dinner-type {
    background: #fff;
    height: 95px;
    margin-top: 40px;
    position: absolute;
    bottom: 18px;
    width: 98.5%
}
.meal {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    width: 20%;
    .meal-icon {
        img {
            width: 24px;
            padding-right: 18px;
        }
    }
}
.dinner {
    width: 80%;
    font-size: 24px;
    padding-top: 11px;
    font-style: italic;
    font-family: sans-serif;
    .dinner-left {
        width: 100%;
        .type {
            padding-right: 15px;
            color: #e79e47;
            font-weight: bold;
            width: 110px;
            padding-bottom: 11px;
        }
        .name {
            padding-right: 15px
        }
    }
}

.noted-bottom {
    background: #fff;
    padding-left: 30px;
    font-size: 25px;
    font-style: italic;
}
.no-meal {
    padding-top: 40px;
    font-size: 22px;
    font-family: GothamRoundedBook;
}
.display-none{
    display: none;
}