<template>
  <div class="master">
    <swiper :options="swiperOption" ref='mySwiper'>

      <swiper-slide class="room-event" v-show="sliders.room_event !='' || showBlank" :data-swiper-autoplay="sliders.re_duration.duration">
          <div class="ads-logos">
            <img class="logo-in-ads" src="http://192.168.11.1/inna-admin/public/photos/logo/logo_company.jpg" alt="">
          </div>
          <div class="announcment">
            <div class="title-page">
              Nakula Room
            </div>
          </div>
          <div>
            <div class="re-spec">
              <div v-for="(sl, index) in sliders" :key="index">
                <div class="cover-comp" v-for="(sli, index) in sl.company" :key="index">
                  <div class="vertical-align">
                    <div class="align-middle">
                      <div v-if="sli.logo.length == 0">
                        <img class="display-none" src="http://192.168.11.1/inna-admin/public/photos/logo/logo_company.jpg"> 
                      </div>
                      <div v-else="sli.logo.length >== 0">
                        <img class="m-image-logo" :src="`http://192.168.11.1/inna-admin/public/photos/logo/${sli.logo}`">
                      </div>
                      <div class="m-room">
                        {{sli.name}}
                      </div>
                      <div class="m-room-name">
                        {{sl.title}}
                      </div>
                    </div>
                  </div>
                  <div class="dinner-type flex">
                    <div class="meal flex">
                        <div class="meal-icon">
                          <img src="/static/icon-meal.png" alt="">
                        </div>
                        <div>
                          Meal Schedule :
                        </div>
                    </div>
                    <div class="no-meal" v-if="sl.dinner.length == 0">
                      No meal session
                    </div>
                    <div class="dinner" v-for="(dinner, index) in sl.dinner" :key="index">
                      <div class="flex dinner-left" v-for="(dinner_type, index) in dinner.type" :key="index">
                        <div class="type">
                          {{dinner_type.type}}
                        </div>
                        <div class="name" v-for="(dinner_place, index) in dinner.place" :key="index">
                          @{{dinner_place.restaurant.name}}
                        </div>
                        <div>
                          {{dinner_type.start_time.slice(0,5)}} - {{dinner_type.end_time.slice(0,5)}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </swiper-slide>
      <swiper-slide v-show="sliders.ads !='' || showBlank" v-for="(ad, index) in sliders.ads" :key="index" data-swiper-autoplay="3000" class="overflow-hidden">
        <div class="contain">
          <div class="ads-logo">
            <img class="logo-in-ads" :src="`static/${ad.logo}.png`" alt="">
          </div>
          <img class="main-image" :src="`http://192.168.11.1/inna-admin/public/photos/image/${ad.image}`" alt="">
          <div class="noted">
            <div>
              <h1>{{ad.title}}</h1>
              <h3 class="noted-image">{{ad.note}}</h3>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="announcment-higest" v-show="sliders.announce !='' || showBlank" v-for="(a, index) in sliders.announce" :key="index" data-swiper-autoplay="5000">
        <div class="ann">
          <div class="annou">
            <div class="ads-logo">
              <img class="logo-in-ads" :src="`static/${a.ann.logo}.png`" alt="">
            </div>
            <div class="announcment-inside">
              <h1>{{a.ann.title}}</h1>
              <span v-html="a.ann.note"></span>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import vueSeamless from "vue-seamless-scroll";
import { mapState } from "vuex";
export default {
  data() {
    return {
      showBlank: false,
      swiperOption: {
          autoplay: {
            disableOnInteraction: false
          },
          centeredSlides: true,
          effect: 'fade',
          // onSlideChangeStart:function(){
          //   this.onActiveIndex()
          // }
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadSliders");
    this.interval = setInterval(
      function() {
        this.$store.dispatch("loadSliders");
      }.bind(this),
      3000
    );
  },
  computed: {
    sliders() {
      return this.$store.state.sliders;
    },
    settings() {
      return this.$store.state.settings
    }
  }
}
</script>

<style>

</style>
