<template>
  <div class="master">
        <swiper :options="swiperOption">
          <swiper-slide class="room-event" v-show="sliders.room_event.length || showBlank" data-history="index" data-swiper-autoplay="5000">
              <div class="announcment">
                <div class="title-page">
                  Today's Event
                </div>
              </div>
              <div>
                  <vue-seamless :data="sliders.room_event" class="seamless-warp" :class-option="optionSingle">
                  <table v-for="(slider, index) in sliders.room_event" :key="index">
                    <tr class="rows-text" v-for="co in slider.event.company" :key="co.id">
                      <td class="index-table"><img class="logo-logo" :src="`http://192.168.1.90/kreasi_hotel/public/photos/logo/${co.logo}`" alt=""></td>
                      <td class="master-table">
                        <div class="title-table">
                          {{co.name}}
                        </div>
                        <div class="co-title">
                          {{slider.event.title}}
                        </div>
                      </td>
                      <td class="right-table">
                        <div v-for="(room_name, index) in slider.event.room" :key="index">
                          <ul>
                            <li class="room-name">
                              {{room_name.roomname.name}}
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </table>
                </vue-seamless>
              </div>
          </swiper-slide>
          <swiper-slide v-for="opsi in sliders.ads" :key="opsi.id" :data-swiper-autoplay="opsi.advertise.total_duration">
            <swiper>
             <swiper-slide>
               <swiper :options="swiperOption2">
                 <swiper-slide v-for="(point, index) in opsi.img" :key="index" class="overflow-hidden" :data-history="index" data-swiper-autoplay="5000">
                   <img class="main-image" :src="`http://192.168.1.90/kreasi_hotel/public/photos/image/${point.image}`">
                   <div class="noted">
                     <h1 class="noted-image">{{point.note}}</h1>
                   </div>
                 </swiper-slide>
               </swiper>
             </swiper-slide>
            </swiper>
          </swiper-slide>
          <swiper-slide class="announcment-higest" v-show="sliders.announce.length || showBlank">
            <div v-for="(a, index) in sliders.announce" :key="index">
              <h1>{{a.ann.title}}</h1>
              <h2 v-html="a.ann.note"></h2>
            </div>
          </swiper-slide>
        </swiper>
    <app-running-text></app-running-text>
  </div>
</template>

<script>
import appRunningText from "./appRunningText.vue";
import { mapState } from "vuex";
import vueSeamless from "vue-seamless-scroll";
export default {
  computed: {
    sliders() {
      return this.$store.state.sliders;

      // console.log(sliders);
    },
    optionSingle() {
      return {
        step: 1,
        singleHeight: 150,
        waitTime: 1000,
        limitMoveNum: 6,
        switchDelay: 3500,
        openWatch: true
      };
    }
  },
  components: {
    appRunningText,
    vueSeamless
  },
  mounted() {
    this.$store.dispatch("loadSliders");
    this.interval = setInterval(
      function() {
        this.$store.dispatch("loadSliders");
      }.bind(this),
      3000
    );
  },
  data() {
    return {
      showBlank: false,
      swiperOption2: {
        autoplay: true,
        effect: "fade",
        autoplay: {
          delay: 5000,
        },
      },
      swiperOption: {
        setWrapperSize: true,
        effect: "fade",
        autoplay: true
      }
    };
  },
  methods: {
    play() {
      this.$refs.autoplay.play();
      console.log(play);
    }
  },
  watch: {

  }
};
</script>

<style scoped>
  [v-cloak] {
    display: none;
  }
</style>
