<template>
  <div class="running-text">
      <div class="runtext-container">
        <div class="main-runtext">
            <div class="time">
                <span>{{ new Date() | moment("h:mm  MMMM Do") }}</span>
            </div>
        <marquee direction="">
        <div class="holder">
            <div class="text-container" v-for="(item, index) in texts" :key="index">
                &nbsp; &nbsp; <img src="http://192.168.11.1/inna-admin/public/photos/logo/logo_company.jpg"> &nbsp; <a>{{item.news}}</a>
            </div>
        </div>

        </marquee>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    texts() {
      return this.$store.state.texts;
    }
  },
  mounted() {
    this.$store.dispatch("loadTexts");
  }
};
</script>

<style>
/* CSS Document */
</style>
