<template>
  <div class="menu-testing">
    <ul>
        <router-link tag="li" to="/"><a>Images, announcment</a></router-link>
        <router-link tag="li" to="/about"><a>About</a></router-link>
        <router-link tag="li" to="/permission-list"><a>Permisison</a></router-link>
    </ul>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
